# Flutter/Dart related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
.idea/
*.iml

# iOS related files
ios/Flutter/.generated/
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/

# Android related files
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/*.iml

# Web related files
web/.dart_tool/
web/build/
web/generated_plugin_registrant.dart

# MacOS related files
macos/Flutter/ephemeral/
macos/.symlinks/
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows related files
windows/flutter/ephemeral/

# Linux related files
linux/flutter/ephemeral/

# Firebase related files
firebase_app_id_file.json
**/google-services.json
**/GoogleService-Info.plist

# Temporary files
*.tmp
*.temp
*.log

# Others
.idea/
*.DS_Store
*.vscode/
