# Flutter/Dart related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/
.idea/
*.iml
*.log
.macos/
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# iOS related files
ios/Flutter/.generated/
ios/.symlinks/
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
*.xcuserdatad/
*.xcscmblueprint
*.hmap
*.ipa

# Android related files
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
android/*.iml

# Web related files
web/.dart_tool/
web/build/
web/generated_plugin_registrant.dart

# Firebase related files
**/firebase_app_id_file.json
**/google-services.json
**/GoogleService-Info.plist
**/firebase-debug.log

# IntelliJ IDEA related files
.idea/
*.iml
*.ipr
*.iws

# VSCode related files
.vscode/
*.code-workspace

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Icon must end with two \r
Icon\r\r

# Other Mac files
.Spotlight-V100
.Trashes

# Temporary files
*.tmp
*.temp
